doctype html
html(lang='en')
  head
    title Menigo
    link(rel='stylesheet' type='text/css' href='main.css')
  body
    main
      .neutral
        h1 Uh-oh. We've got some news.
      .feedback.positive
        h2 THE GOOD
        br
        p You're in the right place!
      .feedback.negative
        h2 THE BAD
        br
        p We're working on the thing you need.
      .neutral
        h3.
          Come back in a little while and hopefully we'll be done...
          Sorry for any inconveniences this may have caused.
    footer
      p Atlanta, GA | +1 (000) 000-000 | info@example.com | ©2015 Standard Inc.