$neutral-color: #001135;
$positive-color: #93B257;
$negative-color: #CC7463;

body {
  font-family: Helvetica Neue, Helvetica, Sans-Serif;
  height: 100vh;
  margin: 0;
  text-align: center;
}

main {
  display: flex;
  min-height: 90vh;
  flex-flow: row wrap;
}

footer {
  background: #F0F0F0;
  color: $neutral-color;
  display: flex;
  flex-flow: column;
  font-weight: 100;
  justify-content: space-around;
  min-height: 10vh;
  position: relative;
}

.neutral {
  background: $neutral-color;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5) inset;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0;
  padding: 30px 10%;
  width: 100%;

  h1 {
    font-size: 2.5em;
  }
}

.feedback {
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0;
  padding: 20px 12.5%;
  width: 25%;

  h2 {
    font-size: 2em;
    font-weight: 100;
  }


  h2, p {
    margin: 0;
  }

  @media(max-width: 500px) {
    width: 70%;
    padding: 15%;
  }
}

h3 {
  width: 100%;
}

.positive {
  background: $positive-color;
  position: relative;

  &:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-left-color: $positive-color;
    border-width: 2em;
    margin-top: -2em;

    @media(max-width: 500px) {
      border-top-color: $positive-color;
      border-width: 2em;
      left: 50%;
      margin-left: -2em;
      top: 100%;
      transform: rotate(225deg);
    }
  }
}

.negative {
  background: $negative-color;
}